@model IList<CategoryModel>
@if (Model.Count > 0)
{
    @foreach (var item in Model)
    {
        <div class="container mb-5">
            <div class="row">
                <div class="col-3">
                    <h1>
                        <a class="topic-title" href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                            @item.Name
                        </a>
                    </h1>
                </div>
                <div class="col-9">
                    <ul class="list-inline">
                        @foreach (var childCate in item.SubCategories)
                        {
                            <li class="list-inline-item">
                                <a href="@Url.RouteUrl("Category", new { SeName = childCate.SeName })" title="@childCate.PictureModel.Title">
                                    @childCate.Name
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <a href="@Url.RouteUrl("Category", new { SeName = item.SeName })" title="@item.PictureModel.Title">
                        <img class="img-fluid" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                    </a>
                </div>
                <div class="col-10">
                    <div class="row">
                        @foreach (var product in item.FeaturedProducts)
                        {
                            <div class="col-3">
                                @await Html.PartialAsync("_ProductBox", product)
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}