@model ChangePasswordModel
@{
    Layout = "_ColumnsTwo";

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);
    //page class
    Html.AppendPageCssClassParts("html-account-page");
    Html.AppendPageCssClassParts("html-change-password-page");
}
@section left
{
    @await Component.InvokeAsync("CustomerNavigation", new { selectedTabId = CustomerNavigationEnum.ChangePassword })
}


@section Breadcrumb{

    <div class="banner-news mb-5">
        <div class="container">
            <div class="row align-items-center" style="min-height:400px">
                <div class="col-12">
                    <h1>@T("Account.ChangePassword")</h1>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="@Url.RouteUrl("Homepage")" title="@T("Categories.Breadcrumb.Top")">@T("Categories.Breadcrumb.Top")</a>
                        </li>
                        <li class="list-inline-item">
                            <span class="fas fa-angle-double-right"></span>
                        </li>
                        <li class="list-inline-item active">@T("Account.ChangePassword")</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

}

<div class="container mb-5">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header bg-menu">
                    <div class="title">
                        <strong class="text-white">@T("Account.Login.ReturningCustomer")</strong>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="message-error"></div>
                        <div class="form-fields">
                            <div class="inputs form-group">
                                <label asp-for="OldPassword" asp-postfix=":"></label><nop-required />
                                <input asp-for="OldPassword" class="form-control" />                                
                                <span asp-validation-for="OldPassword"></span>
                            </div>
                            <div class="inputs form-group">
                                <label asp-for="NewPassword" asp-postfix=":"></label>
                                <nop-required />
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="inputs form-group">
                                <label asp-for="ConfirmNewPassword" asp-postfix=":"></label><nop-required />
                                <input asp-for="ConfirmNewPassword" class="form-control" />                                
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="submit" class="button-1 btn btn-primary change-password-button">@T("Account.ChangePassword.Button")</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="page account-page change-password-page">
    <div class="page-title">
        <h1>@T("Account.MyAccount") - @T("Account.ChangePassword")</h1>
    </div>
    <div class="page-body">
        <form asp-route="CustomerChangePassword" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields">
                    <div class="inputs">
                        <label asp-for="OldPassword" asp-postfix=":"></label>
                        <input asp-for="OldPassword" />
                        <nop-required />
                        <span asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="NewPassword" asp-postfix=":"></label>
                        <input asp-for="NewPassword" />
                        <nop-required />
                        <span asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="inputs">
                        <label asp-for="ConfirmNewPassword" asp-postfix=":"></label>
                        <input asp-for="ConfirmNewPassword" />
                        <nop-required />
                        <span asp-validation-for="ConfirmNewPassword"></span>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="submit" class="button-1 change-password-button">@T("Account.ChangePassword.Button")</button>
            </div>
        </form>
    </div>
</div>*@